.git/
.gitignore
.gitattributes
.github/

.venv/
venv/
env/

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
.coveragerc

.vscode/
.idea/
pyrightconfig.json

data/
assets/
docs/
tests/

dev-requirements.txt